.attribution {
   font-size: 11px; text-align: center;
 }
.attribution a {
  color: hsl(228, 45%, 44%);
}
.navbar {
  background-color: #3ebfff;
  padding: 24px 15px;
}
.nav-item{
  font-family: 'Barlow', sans-serif;
  margin-left: 15px;
  margin-right: 15px;
}
.nav-link, .nav-link:hover{
  color: #fff;
}
.contact{
  background-color: #fff;
}
/*
.contact{
  background-color: #fff;
  border-radius: 25px;
  padding: 5px 15px;
}
.contact:hover{
  background-color: #6eceff;
}
.contact .nav-link:hover{
  color: #fff;
}
.contact .nav-link{
  font-family: 'Fraunces', serif;
}
*/
